:root {
  --ss-background: #FAF2EA;
  --ss-surface: #FFFCF9;
  --ss-chrome: #EADFD6;
  --ss-foreground: #0D0B08;
  --ss-muted-foreground: #544F4A;
  --ss-chrome-foreground: #0D0B08;
  --ss-border: #C4B8AE;
  --ss-primary: #7C3134;
  --ss-primary-foreground: #FFFBF8;
  --ss-accent: #704C85;
  --ss-accent-foreground: #FFFBF8;
  --ss-focus: #7C3134;
  --ss-success: #006425;
  --ss-success-foreground: #FFFBF8;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FFFBF8;
  --ss-danger: #902824;
  --ss-danger-foreground: #FFFBF8;
  --ss-primary-50: #FFF6F6;
  --ss-primary-100: #FFE4E3;
  --ss-primary-200: #FFC8C6;
  --ss-primary-300: #F0A8A7;
  --ss-primary-400: #D38686;
  --ss-primary-500: #B86969;
  --ss-primary-600: #9F5152;
  --ss-primary-700: #823D3E;
  --ss-primary-800: #642629;
  --ss-primary-900: #461015;
  --ss-primary-950: #2A0004;
  --ss-accent-50: #FBF6FF;
  --ss-accent-100: #F4E4FF;
  --ss-accent-200: #E8CAFB;
  --ss-accent-300: #CFAFE3;
  --ss-accent-400: #B18FC6;
  --ss-accent-500: #9673AC;
  --ss-accent-600: #7E5B93;
  --ss-accent-700: #664679;
  --ss-accent-800: #4C2F5C;
  --ss-accent-900: #331940;
  --ss-accent-950: #1C0527;
}
